table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td {
  text-align: left;
  vertical-align: top;
  padding: 0px 1px;
}
th {
  text-align: left;
  vertical-align: top;
}
iframe {border:none;width:100%;}
@media screen and (max-width: 992px) {
  iframe {height: 513px;}
}
@media screen and (max-width: 600px) {
  iframe {height: 300px;}
}
#sinop {
border: none;
padding: 2px 6px;
background: red;
color: white;
border-radius: 4px;
}
#myBtn {
border: none;
padding: 2px 6px;
background: black;
color: white;
}
#more {display: none;}
#btnm {
width: 100% ;
padding: 8px;
background: blue;
color: white;
font-weight: bold;
border: none;
margin: 2px 0px;
}
#btnm:hover{background:black;}
